:root {
  // 主色调
  --my-color-main: #5129f2;
  --my-color-main-light-1: #776bff;
  --my-color-main-light-2: #ffe9cd7a;
  // 背景主色调
  --my-background-color: white;
  // 适配黑色主题的字体色
  --my-color-dark-black: black;
  --my-color-dark-gray: gray;
}

body {
  background-color: var(--my-background-color);
}
@bg: #776bff;
@color: #fff;
