// dark主题
html[data-theme="dark"]:root {
  // 背景主色调
  --my-background-color: black;
  // 适配黑色主题的字体色
  --my-color-dark-black: white;
  --my-color-dark-gray: white;
}

// light主题
html[data-theme="light"]:root {
  // 背景主色调
  --my-background-color: white;
  // 适配黑色主题的字体色
  --my-color-dark-black: black;
  --my-color-dark-gray: gray;
}